/* ზოგადი სტილები */
body {
  font-family: 'Noto Sans Georgian', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(99, 57, 116, 0.7), rgba(99, 57, 116, 0.7)), url('https://github.com/NANA-0103/letabook/blob/deba3f5e801cbd11d6f03cfcdd15571bd84edb71/old-paper-texture.jpg?raw=true');
  background-size: cover;
  background-position: center;
  color: #333;
}

header {
  background-color: rgba(99, 57, 116, 0.8); /* გამჭვირვალე ბექგრაუნდი */
  padding: 20px;
  text-align: center;
  color: white;
}

h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a.active {
  text-decoration: underline;
}

.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: white;
  text-align: center;
}

.welcome-content {
  max-width: 800px;
}

.welcome-content h1 {
  font-size: 36px;
}

.welcome-content .tagline {
  font-size: 24px;
  font-weight: bold;
}

.welcome-content blockquote {
  font-size: 20px;
  font-style: italic;
  margin: 20px 0;
}

.welcome-content a {
  color: #633974;
  font-weight: bold;
  text-decoration: none;
}

.welcome-content a:hover {
  text-decoration: underline;
}

footer {
  background-color: #633974;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

footer p {
  margin: 0;
}
